.color-swatch {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 10%;
}

input[type=text] {
  border-radius: 5px;
  border: 1px solid #CCC;
  font-size: 150%;
  width: 200px;
  padding: 5px;
}

input[name=x-rotation] {
  width: 75px;
  -webkit-transform: rotate(90deg) translateY(-9px) translateX(-100%);
  -webkit-transform-origin: 0;
}